section.loja .container {
    padding: 10%;
}

section.menu-find nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

section.menu-find nav ul .search {
    align-items: center;
    display: flex;
}

section.menu-find nav ul .search input {
    width: 500px;
    height: 70px;
    padding: 0 20px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top: 1px solid #fad229;
    border-bottom: 1px solid #fad229;
    border-right: 0px solid black;
    border-left: 1px solid #fad229;
    font-size: 20px;
}

section.menu-find nav ul .search button {
    height: 70px;
    width: 70px;
    background-color: #fad229;
    color: black;
    font-size: 25px;
    font-weight: 500;
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 1px solid #fad229;
    border-bottom: 1px solid #fad229;
    border-right: 1px solid #fad229;
    cursor: pointer;
    transition: 0.3s;
}

section.menu-find nav ul .search button:hover {
    background-color: transparent;
    color: #fad229;
}

section.menu-find nav ul .heart {
    display: flex;
    position: relative;
    transition: 0.3s;
}

section.menu-find nav ul .heart:hover {
    transform: scale(1.05);
}

section.menu-find nav ul .heart::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #fad229;
    transition: width 0.3s ease-in-out;
}

section.menu-find nav ul .heart:hover::after {
    width: 80%;
}


section.menu-find nav ul .heart li {
    display: flex;
    gap: 10px;
    font-size: 22px;
    color: #fad229;
}

section.menu-find nav ul .heart li a {
    text-decoration: none;
    color: #fad229;
}

section.menu-find nav ul .button {
    font-size: 18px;
    background-color: #fad229;
    border: 1px solid #fad229;
    color: black;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    padding: 15px 35px;
    text-decoration: none;
}

section.menu-find nav ul .button:hover {
    background-color: transparent;
    color: #fad229;
    transform: scale(1.05);
}

/* Catálogo */
section.catalogo-type {
    width: 100%;
    padding: 20px 40px;
    background-color: #fad229;
    display: flex;
}
nav.menu {
  width: 100%;
}
.menu {
    padding: 0px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    position: relative;
    color: #000;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
}

.menu-item .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  opacity: 0;
  transform: translateY(10px); /* começa levemente deslocado pra baixo */
  pointer-events: none;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  z-index: 10;
  border-radius: 10px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-item .submenu li a {
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.menu-item .submenu li a:hover {
    background-color: #fad229;
    border-radius: 10px;
}

.menu-item:hover .submenu {
  opacity: 1;
  transform: translateY(0); /* volta ao lugar */
  pointer-events: auto;
  display: flex; /* só necessário se quiser garantir que o conteúdo continue em coluna */
}
.menu-item .text{
    display: flex;
    align-items: center;
}
.menu-item .text .text-first{
    width: 200px;
}
.menu-item .text .text-image{
    padding: 10px;
    align-items: center;
}
.menu-item .text .text-image img{
    width: 300px;
    height: 350px;
}

.menu-item .text .text-image2{
    padding: 10px;
    align-items: center;
}
.menu-item .text .text-image2 img{
    width: 300px;
    height: 350px;
}