* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

/* Header */
header {
    width: 100%;
    padding: 20px;
    position: fixed;
}

section.menu nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

section.menu nav ul button {
    width: 140px;
    font-size: 18px;
    padding: 10px;
    background-color: #fad229;
    border: 1px solid #fad229;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

section.menu nav ul button:hover {
    background-color: transparent;
    color: #fad229;
    transform: scale(1.05);
}

section.menu nav ul li a {
    text-decoration: none;
    color: #fad229;
    font-size: 19px;
}

section.menu nav ul li {
    transition: 0.3s;
}

section.menu nav ul li:hover {
    transform: scale(1.05);
}

.image img {
    width: 85px;
    cursor: pointer;
    transition: 0.3s;
}

.image img:hover {
    transform: scale(1.05);
}


/* Introdução */
section.introduction {
    background-image: url('imgs/fundo-teste.jpg');
    height: 90vh;
    background-size: cover;
    background-position: center;
}

section.introduction .container {
    padding: 18% 10%;
}

section.introduction h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 90px;
    color: #fad229;
}

section.introduction p{
    width: 800px;
    font-size: 25px;
    color: #fad229;
    font-weight: 500;
}