section.loja .container {
    padding: 10%;
}

section.menu-find nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

section.menu-find nav ul .search {
    align-items: center;
    display: flex;
}

section.menu-find nav ul .search input {
    width: 500px;
    height: 70px;
    padding: 0 20px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top: 1px solid #fad229;
    border-bottom: 1px solid #fad229;
    border-right: 0px solid black;
    border-left: 1px solid #fad229;
    font-size: 20px;
}

section.menu-find nav ul .search button {
    height: 70px;
    width: 70px;
    background-color: #fad229;
    color: black;
    font-size: 25px;
    font-weight: 500;
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 1px solid #fad229;
    border-bottom: 1px solid #fad229;
    border-right: 1px solid #fad229;
    cursor: pointer;
    transition: 0.3s;
}

section.menu-find nav ul .search button:hover {
    background-color: transparent;
    color: #fad229;
}

section.menu-find nav ul .heart {
    display: flex;
    position: relative;
    transition: 0.3s;
}

section.menu-find nav ul .heart:hover {
    transform: scale(1.05);
}

section.menu-find nav ul .heart::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #fad229;
    transition: width 0.3s ease-in-out;
}

section.menu-find nav ul .heart:hover::after {
    width: 80%;
}


section.menu-find nav ul .heart li {
    display: flex;
    gap: 10px;
    font-size: 22px;
    color: #fad229;
}

section.menu-find nav ul .heart li a {
    text-decoration: none;
    color: #fad229;
}

section.menu-find nav ul .button {
    font-size: 18px;
    background-color: #fad229;
    border: 1px solid #fad229;
    color: black;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    padding: 15px 35px;
    text-decoration: none;
}

section.menu-find nav ul .button:hover {
    background-color: transparent;
    color: #fad229;
    transform: scale(1.05);
}

/* Catálogo */
section.catalogo-type {
    width: 100%;
    padding: 20px 40px;
    background-color: #fad229;
    display: flex;
}

nav.menu {
    width: 100%;
}

.menu {
    padding: 0px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    position: relative;
    color: #000;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    transition: 0.3s;
}

.menu-item:hover {
    transform: scale(1.05);
    color: white;
}

.menu-item .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    opacity: 0;
    transform: translateY(10px);
    /* começa levemente deslocado pra baixo */
    pointer-events: none;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    z-index: 10;
    border-radius: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-item .submenu li a {
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.menu-item .submenu li a:hover {
    background-color: #fad229;
    border-radius: 10px;
}

.menu-item:hover .submenu {
    opacity: 1;
    transform: translateY(0);
    /* volta ao lugar */
    pointer-events: auto;
    display: flex;
    /* só necessário se quiser garantir que o conteúdo continue em coluna */
}

.menu-item .text {
    display: flex;
    align-items: center;
}

.menu-item .text .text-first {
    width: 200px;
}

.menu-item .text .text-image {
    padding: 10px;
    align-items: center;
}

.menu-item .text .text-image img {
    width: 300px;
    height: 350px;
}

.menu-item .text .text-image2 {
    padding: 10px;
    align-items: center;
}

.menu-item .text .text-image2 img {
    width: 300px;
    height: 350px;
}

/* Catálogo Geral */
section.catalogo-itens {
    padding: 40px;
    height: 60vh;
}

section.catalogo-itens .all-catalog {
    color: #fad229;
}

.text-especial {
    padding: 60px 10px;
}

section.catalogo-itens h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 90px;
}

section.catalogo-itens h2 {
    font-size: 30px;
    width: 60%;
    text-align: justify;
}

/* Catálogo Completo */
section.catalogo-completo {
    margin-top: 20px;
    padding: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 302px;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 300px;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid #fad229;
}

.card p {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fad229;
}

.all-cards {
    background-color: #fad229;
    padding: 40px 0px;
    border-radius: 20px;
}

.first {
    padding: 20px 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.all-cards h1 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 90px;
}

section.back-site {
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
}

section.back-site button {
    width: 600px;
    height: 100px;
    font-size: 30px;
    background-color: #fad229;
    border: 2px solid #fad229;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

section.back-site button:hover {
    transform: scale(1.05);
    background-color: transparent;
    color: #fad229;
}

.itens h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 50px;
    padding-left: 3%;
}

.popup {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.popup-content {
  background-color: #fad229;
  margin: auto;
  border-radius: 10px;
  padding: 0 0 0 40px;
  width: 100%;
  max-width: 500px;

  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 40px;
  font-size: 18px;
}

.popup-content img {
  max-width: 60%;
  height: auto;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  color: #fad229;
  cursor: pointer;
  transition: 0.3s;
}
.close-btn:hover{
    transform: scale(1.05);
    color: white;
}
.container-popup{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.popup-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.popup-card .card-unique{
    background-color: black;
    padding: 10px 15px;
    color: #fad229;
    border-radius: 20px;
    cursor: default;
    transition: 0.3s;
}
.popup-card .card-unique:hover{
    transform: scale(1.05);
    background-color: white;
    color: black;
}