@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10%;
}

/* HEADER */

header{
    width: 100%;
    padding: 50px 0;
    position: fixed;
    transition: 0.5s;
    z-index: 9000;
}
header.rolar{
    background-color: black;
    display: flex;
    padding: 40px 0;
    align-items: center;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.342);
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.itens-menu nav ul{
    display: flex;
    justify-content: space-between;
    width:900px;
    list-style-type: none;
    margin-left: 50px;
}
section.itens-menu nav ul li a{
    font-size: 18px;
    text-decoration: none;
    color: yellow;
    font-weight: 400;
    transition: 0.3s;
    font-weight: bold;
}
section.itens-menu nav ul li{
    transition: 0.3s;
}
section.itens-menu nav ul li:hover{
    transform: scale(1.09);
}
section.itens-menu button{
    margin-top: -20px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 1px yellow;
    color: yellow;
    transition: 0.3s;
    cursor: pointer;
    font-weight: bold;
}
section.itens-menu button:hover{
    background-color: yellow;
    color: black;
}

/* INTRODUÇÃO */
section.introduction{
    display: flex;
    height: 100vh;
    background-image: url('imgs/fundo.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: yellow;
    align-items: center;
    font-size: 45px;
    text-align: left;
    border-bottom: 1px solid yellow;
}
#p1{
    width: 1300px;
    color: yellow;
    height: 150px;
    margin-left: -150px;
    font-weight: bold;
}

/* HISTÓRIA */
section.history{
    padding: 90px 10%;
}
section.history .all{
    display: flex;
    justify-content: space-between;
    gap: 200px;
}
.text{
    color: yellow;
}
.text .card{
    border: solid 1px yellow;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 40px;
    transition: 0.3s;
    background-color: yellow;
    color:black;
}
.text .card:hover{
    transform: scale(1.05);
}
.text .card p{
    font-size: 30px;
}
.item-follow  span{
    display: block;
}
.item-follow h1 {
    color: yellow;
    font-size: 100px;
    position: sticky;
    top: 130px;
}

/* SOCIOS */
section.socios{
    border-top: 1px solid yellow;
    background-image: url('imgs/fundo.jpg');
    background-attachment: fixed;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 90px 0;
}
section.socios .tittle{
    text-align: center;
    color: yellow;
}
section.socios .tittle h1{
    font-size: 90px;
}
section.socios .tittle h2{
    font-size: 50px;
}
.itens{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}
.itens .card-item{
    background-color: yellow;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    border: solid 2px yellow;
    transition: 0.3s;
}
.itens .card-item:hover{
    transform: scale(1.05);
}
#first{
    background-image: url('imgs/sejasocio.png');
    background-size: cover;
}

.itens .card-item h2{
    text-align: center;
    margin-top: 30px;
    font-size: 70px;
    text-decoration: underline;
}

.itens .card-item h3{
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 70px;
    background-color: black;
    color: yellow;
    padding: 10px;
    width: 400px;
    text-align: center;
    border-radius: 50px;
    margin-left: 45px;
}
.itens .card-item h4{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
.itens .card-item img{
    max-width: 270px;
}
.card-option{
    width: 440px;
    height: 90px;
    background-color: black;
    color: yellow;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
}
.card-option img{
    height: 70px;
}

#second{
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}